
<h2 class="blog-title"><%= ::Temple::Utils.escape_html((post.title)) %></h2>
<p class="ptag">
<span>
<i class="fi-pricetag-multiple">
</i></span><span><%= ::Temple::Utils.escape_html((post.labels_content)) %></span>
</p>
