<div class="qrcode-image">
<div<% _slim_codeattributes1 = str; if _slim_codeattributes1; if _slim_codeattributes1 == true %> data-url=""<% else %> data-url="<%= ::Temple::Utils.escape_html((_slim_codeattributes1)) %>"<% end; end %> id="image-tag">
</div><p><%= ::Temple::Utils.escape_html((t('qrcodetips'))) %></p>
</div>
