
<h4>欢迎</h4>
<p>我是Victorialice, Alice 是我的网名.
</p>
<h4>关于我</h4>
<ul class="aboutme-index">
<li>
<span>领域:</span>
<span>技术, 创业, 生活</span>
</li><li>
<span>位置:</span>
<span>中国 - 深圳 - 南山</span>
</li><li>
<span>更多:</span>
<span>
<%= ::Temple::Utils.escape_html((link_to '关于我', about_path)) %>
</span></li></ul>
